<suite name="Test Suite" verbose="1" parallel="true" thread-count="11">
    <test name="Test 1">
        <classes>
            <class name="MuhasabeTestng"/>
        </classes>
    </test>
    <test name="Test 2">
        <classes>
            <class name="MuhasebeDataProvider"/>
        </classes>
    </test>
</suite>